@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
    font-family: 'Outfit', sans-serif;
    background-color: hsl(212, 45%, 89%);
    display: grid;
    width: 100%;
    height: 400px;
}

h1{
    font-size: 15px; 
    text-align: center;
    
}

h2{
    font-size: 10px;
    font-weight:400;
    text-align: center;
    color: gray;
    padding: .5em;
}

.qr img{
    width: 100%;
    border-radius: .5em;
}

.qr{
    width: 12em;
    margin: auto;
    background-color: hsl(0, 0%, 100%);
    padding: 0.5em;
    border-radius: .5em;
}